<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Dojo Survey</title>
</head>
<body>
    <div id="outline">
        <h2>Submitted Information Revisited</h2>
        <p>Name: <span>{{request.session.first_name}} {{request.session.last_name}}</span></p> 
        <p>Dojo Location: <span>{{request.session.location}}</span></p>
        <p>Favorite Language: <span>{{request.session.language}}</span> </p> 
        
        <p>Gender: <span>{{request.session.gender}}</span></p>
  
        <p>What I have learned: <span>{{request.session.learned}}</span></p>
       
        <p>Description</p>
        <p>{{request.session.description}}</p>

        <a href="/">
            <button>Go Back</button>
        </a>

    </div>

    
    
</body>
</html>