<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Dojo Survey</title>
</head>
<body>

    <h1>Dojo Survey</h1>

    <div id="outline">
        <form action="result/" method="POST">
            {% csrf_token %}
            <label>First Name
                <input type="text", name='first_name'>
            </label>
            <br>
            <label>Last Name
                <input type="text", name='last_name'>
            </label>
            <br>
            <label>Dojo Location
                <select name='location'>
                    <option value="San Jose">San Jose</option>
                    <option value="Costa Mesa">Costa Mesa</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Burbank">Burbank</option>
                </select>
            </label>
            <br>
            <label>Favorite Language
                <select name="language">
                    <option value="Java">Java</option>
                    <option value="Python">Python</option>
                    <option value="Mern">Mern</option>
                    <option value="C#">C#</option>
                </select>
            </label>
            <br>
            <label>Description<br>
                <textarea name="description" id="" cols="30" rows="10"></textarea>
            </label>
            <input type="submit" id="sub" value="Submit">

        </form>

    </div>
    
</body>
</html>