<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>

    <div id="outline">
        <form action="">
            <label>
                <input type="text", name='first_name'>
            </label>
            <form action="">
            <label>
                <input type="text", name='last_name'>
            </label>
            <form action="">
            <label name='location'>Dojo Location
                <option value="San Jose">San Jose</option>
                <option value="Costa Mesa">Costa Mesa</option>
                <option value="Chicago">Chicago</option>
                <option value="Burbank">Burbank</option>
            </label>

            <label name="language">Favorite Language
                <option value="Java">Java</option>
                <option value="Python">Python</option>
                <option value="Mern">Mern</option>
                <option value="C#">C#</option>
            </label>

        </form>

    </div>
    
</body>
</html>